.app-sidebar__user-avatar{
  max-width: 50px;
  background: gray;
  padding: 3px;
}
pre{
  max-height: inherit;
  overflow: scroll;
  max-width: inherit;
  font-size: smaller;
}
.app-sidebar__toggle{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15pt;
}

.app-sidebar__toggle::before{
  display: none;
}

.headerRegister, .header-primary{
  background: #6dcba3;
  color: #FFF;
}

.headerUpdate{
  background: #776acf;
  color: #FFF;
}

.notBlock{
  display: none;
}


.dataserv{
  overflow: scroll;
  width: 500px;
  height: 800px;
}

/*Estilos Loading */
#divLoading{
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(254,254,255, .65);
  z-index: 9999;
  display: none;
}
#divLoading img{
  width: 50px;
  height: 50px;
}


.minlistprod_img {
  max-height: 6em;
  max-width: 4em;
  display: block;
  margin: auto;
}

.prevPhoto {
  display: flex;
  justify-content: space-between;
  max-width: 397px;
  min-height: 198px;
  border: 1px solid #CCC;
  position: relative;
  cursor: pointer;
  background: url(../images/portada_categoria.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: auto;
}
.prevPhoto label{
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.prevPhoto img{
  width: 100%;
  height: 100%;
}
.upimg, .notBlock{
  display: none !important;
}
.errorArchivo{
  font-size: 16px;
  font-family: arial;
  color: #cc0000;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}
.delPhoto{
  color: #FFF;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  background: red;
  position: absolute;
  right: -10px;
  top: -10px;
  z-index: 10;
}

.prevPhoto-shrotcutIcon{
  width: 40px;
  height: 40px;
  min-height: auto;
  background: white;
}
.prevPhoto-logoMenu{
  width: 180px;
  height: 28px;
  min-height: auto;
  background: white;
}
.prevPhoto-logoImpreso{
  width: 165px;
  height: 165px;
  min-height: auto;
  background: white;
}
.prevPhoto-logoProveedor{
  width: 165px;
  height: 165px;
  min-height: auto;
  background: white;
}
.prevPhoto-subCategoria{
  max-width: 292px;
  min-height: 192px;
  min-height: auto;
  background: white;
}



#tbl_list_productos img{
  width: 50px;
}
.imgProductoDelete{
  width: 175px;
}


#celImgCategoria {
  text-align: center;
}


#celImgCategoria img{
  width: 200px;
  margin: auto;
}




.app-header__logo{
  width: 182px;
}

.required{
  color: red;
  font-weight: bold;
}

.app-title {
  margin: -55px -30px 20px;
  padding: 10px 20px;
}


.toggle-flip{
  width: 30px;
  height: 30px;
}

/* SelectPicker */

.bootstrap-select > .dropdown-toggle{
  border: 1px  solid #ccc;
}


/*Galeria de Imagenes*/

#containerImages{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

#containerImages > div{
  margin-right: 10px;
  margin-bottom: 8px;
}

.prevImage{
  border: 1px solid #CCC;
  width: 120px;
  height: 148px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prevImage img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inputUploadfile{
  display: none;
}

.btnUploadfile, .btnDeleteImage{
  border: 0;
  background-color: #009688;
  text-align: center;
  padding: 2px 3px;
  color: #FFF;
  font-size: 9pt;
  cursor: pointer;
  width: 100%;
}

.btnDeleteImage{
  background-color: #dc3545;
}
.prevImage .loading{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px) ;

}
#celFotos img{
  width: 150px;
  margin: 10px;
}


/*TEMPLATE*/
.app-content {
  min-height: calc(100vh - 70px);
}

.app-title {
  margin: -30px -30px 20px;
  padding: 10px 20px;
}

.linkWind:hover{
  text-decoration: none;
}

.choices__list{
  z-index: 10;
}

/*  modal-fullscreen  */
/*.modal-fullscreen .modal-dialog {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  max-width: none;
}*/

.modal-fullscreen .modal-content {
  height: auto;
  height: 100vh;
  border-radius: 0;
  border: none;
}

.modal-fullscreen .modal-body {
  overflow-y: auto;
}


/*datePicker----------------------------*/
.container-title{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.container-title input{
  border: 1px solid #CCCCCC;
  padding: 4px;
  border-radius: 5px;
  margin-right: 5px;
}

.dflex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*.ui-datepicker-calendar {
    display: none;
}*/

/*highcharts-credits-----------------*/
.highcharts-credits{
  display: none;
}

/*estilo de Crooper para recorte iamgenes*/
.preview > img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
  border: 1px solid #0B5ED7;
}


/*pag login ===============================================================*/
.login-content .login-box.flipped {
  min-height: 350px;
}

.dis-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
}

.container-admin{
  max-width: 2280px;

}

.p-2{
  padding: 2px;
}


.prod-pic-rel{
  aspect-ratio: 0.81/1;
  background-size: cover !important;
  background-repeat: no-repeat ;
  background-position: center !important;

}
.prod-scale-img{
  width: 100%;
  height: 100%;
  object-fit: scale-down;

  background-size: contain;
  -webkit-background-size: contain; /* For WebKit*/
  -moz-background-size: contain; /* Mozilla*/
  -o-background-size: contain; /* Opera*/

  border: 0px solid #fff;
  /*box-shadow: 0px 0px 25px #222;*/
  backdrop-filter: blur(30px) ;
}

.mce-content-body p {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
}

@media (min-width: 1199.98px) {
  .modal-xxl {
    max-width: 1140px;
  }
}
@media (min-width: 1399.98px) {
  .modal-xxl {
    max-width: 1340px;
  }
}